<div class="container-right">
  <span class="text-3xl mt-5 block">M/M/S</span>
  <div class="grid grid-cols-4">
    <div class="col-span-1 input-container block justify-between mt-5">
      <mat-form-field appearance="outline" class="input w-full" style="display: block !important;">
        <mat-label>Lamnda</mat-label>
        <input matInput #lambda>
      </mat-form-field>
    
      <mat-form-field appearance="outline" class="input w-full" style="display: block !important;">
        <mat-label>Mu</mat-label>
        <input matInput #mu>
      </mat-form-field>

      <span class="text-sm">Número de servidores:</span>
      <mat-form-field appearance="outline" class="input w-full" style="display: block !important;">
        <mat-label>S</mat-label>
        <input matInput #s>
      </mat-form-field>

      <span class="text-sm">Probabilidad de que haya N personas en el sistema y en la cola:</span>
      <mat-form-field appearance="outline" class="input w-full" style="display: block !important;">
        <mat-label>N</mat-label>
        <input matInput #n>
      </mat-form-field>

      <span class="text-sm">Probiabilidad de que haya una persona en el tiempo T en el sistema y en la cola:</span>
      <span class="text-sm">(Recuerda poner el tiempo en la misma unidad que Lambda y Mu)</span>
      <mat-form-field appearance="outline" class="input w-full" style="display: block !important;">
        <mat-label>T</mat-label>
        <input matInput #t>
      </mat-form-field>

      <div class="flex">         
        <button (click)="clickButton(lambda.value, mu.value, s.value, n.value, t.value)" class="h-10 w-full btn-generate" mat-raised-button>SIMULAR</button>
      </div>
    </div>
    

    <div class="col-span-3">
      <table  *ngIf="isActive" class="table-fixed m-auto" @fadeIn>
        <thead>
          <tr>
            <th class="w-1/6 px-4 py-2">Rho</th>
            <th class="w-1/6 px-4 py-2">Po</th>
            <th class="w-1/6 px-4 py-2">L</th>
            <th class="w-1/6 px-4 py-2">Lq</th>
            <th class="w-1/6 px-4 py-2">W</th>
            <th class="w-1/6 px-4 py-2">Wq</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border px-4 py-2">{{rho}}</td>
            <td class="border px-4 py-2">{{p0}}</td>
            <td class="border px-4 py-2">{{l}}</td>
            <td class="border px-4 py-2">{{lQueue}}</td>
            <td class="border px-4 py-2">{{w}}</td>
            <td class="border px-4 py-2">{{wQueue}}</td>
          </tr>
        </tbody>
      </table>

      <table *ngIf="isActive" class="table-fixed m-auto" @fadeIn>
        <thead>
          <tr>
            <th class="w-1/3 px-4 py-2">pN</th>
            <th class="w-1/3 px-4 py-2">pW</th>
            <th class="w-1/3 px-4 py-2">pWQueue</th>
        
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border px-4 py-2">{{pN}}</td>
            <td class="border px-4 py-2">{{pW}}</td>
            <td class="border px-4 py-2">{{pWQueue}}</td>
       
          </tr>
        </tbody>
      </table>

  
    </div>
  </div>
  </div>