<div class="container-right">
  <span class="text-3xl mt-5 block">M/G/1</span>
  <div class="grid grid-cols-4">
    <div class="col-span-1 input-container block justify-between mt-5">
      <mat-form-field appearance="outline" class="input w-full" style="display: block !important;">
        <mat-label>λ</mat-label>
        <input matInput #lambda>
      </mat-form-field>
    
      <mat-form-field appearance="outline" class="input w-full" style="display: block !important;">
        <mat-label>μ</mat-label>
        <input matInput #mu>
      </mat-form-field>

      <mat-label>Escoge a G:</mat-label>
      
      <div class="grid grid-cols-2 m-5">
        <mat-checkbox id="mat-checkbox-2" [(ngModel)]="validUniforme" [ngModelOptions]="{standalone: true}" (change)="onChange($event, 'uniforme')">Uniforme</mat-checkbox>
        <mat-checkbox id="mat-checkbox-5" [(ngModel)]="validErklangK" [ngModelOptions]="{standalone: true}" (change)="onChange($event, 'erklangK')">Erklang K</mat-checkbox>
        <mat-checkbox id="mat-checkbox-6" [(ngModel)]="validNormal" [ngModelOptions]="{standalone: true}" (change)="onChange($event, 'normal')">Normal</mat-checkbox>
        <mat-checkbox id="mat-checkbox-4" [(ngModel)]="validExpNeg" [ngModelOptions]="{standalone: true}" (change)="onChange($event, 'exponencialNegativa')">Exponencial Negativa</mat-checkbox>
        <mat-checkbox id="mat-checkbox-7" [(ngModel)]="validD" [ngModelOptions]="{standalone: true}" (change)="onChange($event, 'dConstante')">D</mat-checkbox>
      </div>

    <!--Uniforme-->
    <div class="grid grid-cols-1">
      <mat-icon *ngIf="validUniforme">alarm_on</mat-icon>
      <mat-label *ngIf="validUniforme" class = "m-2">Ingrese una estimación del tiempo mínimo de estadía en el sistema en la unidad de tiempo de lambda y mu:</mat-label>
      <mat-form-field *ngIf="validUniforme" appearance="outline" class="input block m-2">
        <mat-label>A</mat-label>
        <input matInput name="valorA" placeholder="5" value="5" [(ngModel)]="valorA">
      </mat-form-field>
      <mat-icon *ngIf="validUniforme">exit_to_app</mat-icon>
      <mat-label *ngIf="validUniforme">Ingrese una estimación del tiempo máximo de estadía en el sistema en la unidad de tiempo  de lambda y mu:</mat-label>
      <mat-form-field *ngIf="validUniforme" appearance="outline" class="input block m-2">
        <mat-label>B</mat-label>
        <input matInput name="valorB" placeholder="5" value="5" [(ngModel)]="valorB">
      </mat-form-field>
    </div>


      <!--Erklang-k-->
    <div class="grid grid-cols-1">
      <mat-icon *ngIf="validErklangK">tune</mat-icon>
      <mat-label *ngIf="validErklangK">Proporcione el parámetro k, se recomienda mayor a 0:</mat-label>
      <mat-form-field *ngIf="validErklangK" appearance="outline" class="input block m-2">
        <mat-label>k</mat-label>
        <input matInput name="valorK" placeholder="5" value="5" [(ngModel)]="valorK">
      </mat-form-field>
    </div>

    <!--Normal-->
    <div class="grid grid-cols-1">
      <mat-icon *ngIf="validNormal">filter_list</mat-icon>
      <mat-label *ngIf="validNormal" class = "m-2">Ingrese la varianza del tiempo de Salida:</mat-label>
      <mat-form-field *ngIf="validNormal" appearance="outline" class="input block m-2">
        <mat-label>ς²</mat-label>
        <input matInput name="valorSigma" placeholder="5" value="5" [(ngModel)]="valorSigma">
      </mat-form-field>
    </div>


      <div class="flex">         
        <button (click)="clickButton(lambda.value, mu.value)" class="h-10 w-full btn-generate" mat-raised-button>SIMULAR</button>
      </div>

    </div>
    <div class="col-span-3">
    <table *ngIf="isActive" class="table-fixed m-auto" @fadeIn>
      <thead>
        <tr>
          <th class="w-1/6 px-4 py-2">Rho</th>
          <th class="w-1/6 px-4 py-2">Po</th>
          <th class="w-1/6 px-4 py-2">L</th>
          <th class="w-1/6 px-4 py-2">Lq</th>
          <th class="w-1/6 px-4 py-2">W</th>
          <th class="w-1/6 px-4 py-2">Wq</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border px-4 py-2">{{rho}}</td>
          <td class="border px-4 py-2">{{p0}}</td>
          <td class="border px-4 py-2">{{l}}</td>
          <td class="border px-4 py-2">{{lQueue}}</td>
          <td class="border px-4 py-2">{{w}}</td>
          <td class="border px-4 py-2">{{wQueue}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  </div>