<div class="mt-10">

  <div class="grid grid-cols-4 gap-4 cards-container">
    <!--CARD 1-->
    <div class="relative bg-white max-w-sm rounded-lg overflow-hidden shadow-xl">
      <div class="bg-white px-6 py-4">
        <div class="bg-white font-bold text-xl mb-2">M/M/1</div>
        <p class="bg-white text-gray-700 text-base">
          Sistema abierto que contiene un único servidor con tiempos de llegada y servicio Marcovianos
        </p>
      </div>
      <img class="img-card absolute w-full" src="/assets/mm1.png" alt="Sunset in the mountains">
    </div>

        <!--CARD 2-->
        <div class="relative bg-white max-w-sm rounded-lg overflow-hidden shadow-xl">   
          <div class="bg-white px-6 py-4">
            <div class="bg-white font-bold text-xl mb-2">M/M/S</div>
            <p class="bg-white text-gray-700 text-base">
              Sistema abierto que contiene S número de servidores con tiempos de llegada y servicio Marcovianos
            </p>
          </div>
          <img class="img-card absolute w-full" src="/assets/mms.png" alt="Sunset in the mountains">
        </div>

            <!--CARD 3-->
    <div class="relative bg-white max-w-sm rounded-lg overflow-hidden shadow-xl">
      <div class="bg-white px-6 py-4">
        <div class="bg-white font-bold text-xl mb-2">M/M/S/K</div>
        <p class="bg-white text-gray-700 text-base">
          Sistema abierto que contiene S número de servidores con tiempos de llegada y servicio Marcovianos y K capacidad del sistema
        </p>
      </div>
      <img class="img-card w-full" src="/assets/mmsk.png" alt="Sunset in the mountains">
    </div>

        <!--CARD 4-->
        <div class="relative bg-white max-w-sm rounded-lg overflow-hidden shadow-xl">
          <div class="bg-white px-6 py-4">
            <div class="bg-white font-bold text-xl mb-2">M/G/1</div>
            <p class="bg-white text-gray-700 text-base">
              Sistema abierto que contiene un único servidor con tiempos de llegada Marcovianos y servicio General e independiente
            </p>
          </div>
          <img class="img-card absolute w-full" src="/assets/mg1.png" alt="Sunset in the mountains">
        </div>
  </div>

</div>