<div class="container-right">
  <span class="text-3xl mt-5 block">M/M/S/K</span>
  <div class="grid grid-cols-4">
    <div class="col-span-1  input-container block justify-between mt-5">
      <mat-form-field appearance="outline" class="input w-full" style="display: block !important;">
        <mat-label>λ</mat-label>
        <input matInput #lambda>
      </mat-form-field>
    
      <mat-form-field appearance="outline" class="input w-full" style="display: block !important;">
        <mat-label>μ</mat-label>
        <input matInput #mu>
      </mat-form-field>

      <mat-icon>supervised_user_circle</mat-icon>
      <span class="text-sm">Número de servidores:</span>
      <mat-form-field appearance="outline" class="input w-full" style="display: block !important;">
        <mat-label>S</mat-label>
        <input matInput #s>
      </mat-form-field>

      <mat-icon>view_module</mat-icon>
      <span class="text-sm">Capacidad del sistema:</span>
      <mat-form-field appearance="outline" class="input w-full" style="display: block !important;">
        <mat-label>K</mat-label>
        <input matInput #k>
      </mat-form-field>

      <mat-icon>person</mat-icon>
      <span class="text-sm">Probabilidad de que Haya n Personas en el Sistema:</span>
      <mat-form-field appearance="outline" class="input w-full" style="display: block !important;">
        <mat-label>N</mat-label>
        <input matInput #n>
      </mat-form-field>

      <mat-icon>alarm</mat-icon>
      <span class="text-sm">Probabilidad de que una Persona permanezca más de t tiempo (recuerda poner el tiempo en la misma unidad que Lambda y Mu):</span>
      <mat-form-field appearance="outline" class="input w-full" style="display: block !important;">
        <mat-label>T</mat-label>
        <input matInput #t>
      </mat-form-field>

      <mat-icon>attach_money</mat-icon>
      <span class="text-sm">Costo de mantener a un cliente esperando en fila:</span>
      
      <mat-form-field appearance="outline" class="input w-full" style="display: block !important;">
        <mat-label>Cq</mat-label>
        <input matInput #Cq>
      </mat-form-field>

      <mat-icon>attach_money</mat-icon>
      <span class="text-sm">Costo por unidad de trabajo:</span>
      
      <mat-form-field appearance="outline" class="input w-full" style="display: block !important;">
        <mat-label>Cs</mat-label>
        <input matInput #Cs>
      </mat-form-field>       

      <div class="flex">         
        <button (click)="clickButton(lambda.value, mu.value, s.value, k.value, n.value, t.value, Cq.value, Cs.value)" class="h-10 w-full btn-generate" mat-raised-button>SIMULAR</button>
      </div>
    </div>

    
    

    <div class="col-span-3">
      <div *ngIf="costo>0" class="text-center text-xl mb-10">
        <span>Costo total: </span><span class="text-teal-600">$</span><span>{{costo}}</span>
      </div>

      <table *ngIf="isActive" class="table-fixed m-auto" @fadeIn>
        <thead>
          <tr>
            <th class="w-1/6 px-4 py-2">Rho</th>
            <th class="w-1/6 px-4 py-2">Po</th>
            <th class="w-1/6 px-4 py-2">L</th>
            <th class="w-1/6 px-4 py-2">Lq</th>
            <th class="w-1/6 px-4 py-2">W</th>
            <th class="w-1/6 px-4 py-2">Wq</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border px-4 py-2">{{rho}}</td>
            <td class="border px-4 py-2">{{p0}}</td>
            <td class="border px-4 py-2">{{l}}</td>
            <td class="border px-4 py-2">{{lQueue}}</td>
            <td class="border px-4 py-2">{{w}}</td>
            <td class="border px-4 py-2">{{wQueue}}</td>
          </tr>
        </tbody>
      </table>

      <table *ngIf="isActive" class="table-fixed m-auto mt-10" @fadeIn>
        <thead>
          <tr>
            <th class="w-1/3 px-4 py-2">pN</th>
            <th class="w-1/3 px-4 py-2">pW</th>
            <th class="w-1/3 px-4 py-2">pWQueue</th>
        
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border px-4 py-2">{{pN}}</td>
            <td class="border px-4 py-2">{{pW}}</td>
            <td class="border px-4 py-2">{{pWQueue}}</td>
       
          </tr>
        </tbody>
      </table>

      <table *ngIf="pNI.length > 0" class="table-fixed m-auto mt-10" @fadeIn>
        <thead>
          <tr>
            <th class="w-1/3 px-4 py-2">p(X = x)</th>
            <th class="w-1/3 px-4 py-2">p(X ≤ x)</th>
            <th class="w-1/3 px-4 py-2">p(X > x)</th>
        
          </tr>
        </thead>
        <tbody *ngFor="let number of pNI; let i = index">
          <tr>
            <td class="border px-4 py-2">p(X = {{i+1}}) = {{pNI[i]}}</td>
            <td class="border px-4 py-2">p(X ≤ {{i+1}}) = {{pNA[i]}}</td>
            <td class="border px-4 py-2">p(X > {{i+1}}) = {{pNM[i]}}</td>
       
          </tr>
        </tbody>
      </table>
      <br/>
      <br/>
  
    </div>

    <canvas *ngIf="pNI.length > 0" baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType"
      >
    </canvas>
  </div>
  </div>